# Java: Abaikan semua folder bin di proyek manapun
**/bin/

# VS Code: Abaikan folder settingan
**/.vscode/

# IntelliJ / Eclipse
*.class
.project
.classpath
.settings/

# OS Files
.DS_Store
Thumbs.db